 @font-face {
    font-family: "arial";
    src: url("../fuentes/ArialMTStd-Bold.otf") 
    format("opentype")
 }

 @font-face {
    font-family: "Garamond" ;
    src: url("../fuentes/AGaramondPro-Bold.otf")
    format("opentype")
 }
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@media (max-width: 500px) {
    main {
        background-color: rgb(107, 95, 95);
    }
    main .parrafo {
        color: white;
    }
    main .experience {
        color: white
    }
    main #primerparra {
        color: white;
    }
    main .more {
        color: white;
    }
    
}

@media (min-width: 700px) {
    main {
        display: none;
    }
    main #foto2 {
        display: none;
    }
}
    

.cabecera {
    background-color:#F1F0F0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.objeto1 {
    display: flex;
    width: 60vw;
    align-items: center;
    margin-left: 10px;
}


body{
    padding: 0;
    margin: 0;
}

.italian {
    font-family: "arial";
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    margin-left: 10px;
}

nav {
    background-color: white;
    height: 46px;
    width: 100vw;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;


}

ul {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    text-decoration-style: none;
    align-items: flex-end;
    list-style: none;
    padding-right: 10px;
    flex-wrap: wrap;
}

li {
    padding-left: 20px;
    font-family:'Roboto', sans-serif;
    font-size: .8rem;
    width: max-content; 
}

li a{
    font-family:'Roboto', sans-serif; ;
    text-decoration: none;
    color: black;
}



footer {
    background-color: black;
    width: 100vw;
    display: flex; 
    justify-content: space-around;
    padding: 20px;
    align-items: flex-end;
    flex-wrap: wrap;
}



#backgroundImage{
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: .4;
}






main{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
#col1{
    width: 60vw;
    margin: 0;
    display: flex;
    box-sizing: content-box;
    flex-direction: column;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.259);
}
#col2{
    width: 30vw;
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 30px; 
    flex-wrap: wrap;
}
#containerCol2{
    align-content: center;
    width: 100vw;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
#conjunto{
    display: flex;
}
#primerparra{
    width:50%;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 10px;
}#segundoparra{
    width:50%;
}

#fotoPortada{
    width: 100%
}
.parrafo {
    font-family: 'Roboto', sans-serif;
    color: rgb(89, 87, 87);
    padding-top: 5px;
    text-justify: auto;
    font-size: 1rem;
}
.more {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-style: italic;
    color: black;
    text-decoration: none;
    margin-top: 0;
    font-size: 1rem;
}

.experience {
    font-family: "Garamond";
    padding-bottom: 0%;
    margin-bottom: 0;
    font-size: 2rem;
}

.of {
    font-family: "Garamond";
    padding-top: 0;
    margin-top: 0;
    color: crimson;
    font-size: 1.5rem;
}


.objeto3 {
    margin-top: 50px;
}

.redesfooter {
    align-items: center;
    padding: 10px;

}

.by {
    color: #F1F0F0;
    padding: 30px 50px 0px 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(88, 88, 88);
}